.dropdown_10 {
    border-radius: 20px;
    background-color: $tufts-blue;
    padding: 9px;
    width: 300px;
    color: white;
    option {
      font-size: 23px;
    }

}
.question {
  color: #7400B8;
  font-size: 23px;
  font-family: 'Montserrat';
}

.questionnaire-button {
  padding: 20px;

}
