

<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="far fa-envelope"></i></a>
  </div>
  <div class="footer-copyright">
   <i class="fas fa-copyright"></i> PowerOf 2021
  </div>
</div>

