<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <a class="navbar-brand" href="/">
        <img style="width: 240px;" src="/assets/powerof-081c001be39313c1ddd5aa5c631b387bd2fc1e2196b8fd8953846ef571570c33.jpg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= render partial: "shared/dropdown" %>
    </div>
</div>