<h1>Results</h1>
<h3>You scored an average of   <%= @questionnaire.average_score %> in your questionnaire</h3>
<h4>Click here to view our action plan we have tailor made for you:</h4>
<%= link_to plans_path %>