<h1>Results</h1>
<h3>You scored an average of   <%= @questionnaire.average_score %> in your questionnaire</h3>
<h4>Click <%= link_to "here", plan_path %> to view our action plan we have tailor made for you:</h4>

