<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 mx-auto">
    <h2 class="my-4">About Page</h2>
<h3 class="info">
  The Power Of... is a an app that allows users to map their Health, Wealth and Happiness.
  The user then recieves tailored advice from the app based on the information they input.
</h3>

<h3>This is a page that tells you what the app is about.</h3>
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Fy1prYQZJZI" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe> -->
  <%= link_to 'HELP', faqs_path, class: "btn btn-danger" %>
  <%= link_to 'BEGIN', questionnaire_categories_path, class: "btn btn-success" %>
   </div>
  </div>
 </div>
