<div class="home">
  <div class="banner">
  <h1 class="heading">Welcome to the power of you!</h1>
  </div>
  <div class="info">
    <p class="home_text">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
      eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
      voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
      voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
      velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
      ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
      consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
      vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </P>
    <img
      src="https://images.unsplash.com/photo-1494386346843-e12284507169?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"
      alt="pic" class="homeimg">
  </div>
  <div class="quote-and-vid">
<iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/K9CgSjQDAvE" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
<p class="quote">"This app changed my life forever!"</p>
  </div>
  <div class="button-div">
  <%= link_to 'Come meet yourself', about_path, class: "btn btn-primary button" %>
  </div>
  
  </div>