<% @questionnaires.each do |questionnaire| %>
  <% questionnaire.questions.each do |question| %>
  <p><%= question.body %></p>
  <% end %>
<% end %> 
 
 <%= Questionnaire.find(4).questions.first.body %>
