<h1>New Questionnaire for <%= current_user.email %></h1>
<p>TODO:</p>

<p>form for questionnaire starts here</p>
<p>question 1</p>
<p>answer field for question 1</q></p>

<p>question 2</p>
<p>answer field for question 2</q></p>

<p>question 3</p>
<p>answer field for question 3</q></p>


<p>submit_tag goes here</p>
<p>form for questionnaire ends here</p>


