<h1>New Questionnaire for <%= current_user.email %></h1>
<p>TODO:</p>

<!-- <p>form for category starts here</p> -->
<h3>choose from a category below</h3>
<p> dropdown menu consisting of 3 categories</p>
<p>submit_tag goes here, questionnaire_path, method: POST</p>
<!-- <p>form for category ends here</p> -->


