.btn-light{
  background-color: #7400B8;
  border-radius: 10px;
  color: white;
  padding: 8px;
}

.btn-light:hover{
  color: #7400B8;
  background-color: white;
  border-color: #7400B8;
}

.btn-danger{
  background-color: #6930CE;
  border-color: white;
  border-radius: 10px;
}

.btn-danger:hover{
  background-color: white;
  border-color: #6930CE;
  color: #6930CE;
}

.btn-primary{
  background-color: #7400B8;
  border-radius: 10px;
  color: white;
  border-color: white;
}

.btn-primary:hover{
  color: #7400B8;
  background-color: white;
  border-color: #7400B8;
}

.purple-font{
  color: #7400B8;
}

.purple-font:hover{
  color: #7400B8;
}

.btn-link{
   display: block;
   background: #7400B8;
   color: white;
   border: none !important;
   outline:none;
   padding: 10px 20px;
   border-radius: 2px;
   cursor: pointer;
}
