.btn-light{
  background-color: #7400B8;
  border-radius: 10px;
  color: white;
}

.btn-light:hover{
  color: #7400B8;
  background-color: white;
  border-color: #7400B8;
}

.btn-danger{
  background-color: #5E60CE;
  border-color: white;
  border-radius: 10px;
}

.btn-danger:hover{
  background-color: white;
  border-color: #5E60CE;
  color: #5E60CE;
}

.btn-primary{
  background-color: #7400B8;
  border-radius: 10px;
  color: white;
  border-color: white;
}

.btn-primary:hover{
  color: #7400B8;
  background-color: white;
  border-color: #7400B8;
}

.purple-font{
  color: #7400B8;
}

.purple-font:hover{
  color: #7400B8;
}
